$width__app: 80vw;
$width__app_form: 0.9 * $width__app;
$min_width__app_form: 0.9 * $width__app;
$width_proportion__input: 0.9;
$width_proportion__btn: 1 - $width_proportion__input;

.app {
  width: $width__app;
  margin: 0 auto;
  background-color: #88bbdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  border-radius: 5vw;
}

.app__form {
  height: 5vh;
  width: 100%;
  min-height: 25px;
  display: flex;
}

.app__form_input {
  height: 100%;
  width: 20px;
  flex-grow: 1;
  border-top-left-radius: 5vw;
  border-bottom-left-radius: 5vw;
  border-right: none;
  padding: 0 2vw;
  outline: none;
}

.app__form_input:focus {
  border: 3px solid #00aa00;
  border-right: none;
}

.app__form_btn {
  height: 100%;
  width: 90px;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  border-left: none;
  color: #555555;
  cursor: pointer;
}

.app__form_btn:hover {
  background-color: #00aa00;
  color: #cccccc;
}

.app__ul {
  width: 100%;
  list-style: none;
}

.app__ul_li {
  margin-top: 2vh;
  color: #555555;
  font-size: 32px;
}
